// - - - - - - - - - - - - - - - - - -

// Gallery

// - - - - - - - - - - - - - - - - - -

.gallery {
	visibility: hidden;
	position: relative;
	max-width: 90%;
	margin: 20px auto;

	@include mq(tabletp) {
		margin: 30px auto;
	}

	@include mq(laptop) {
		margin: 40px auto;
	}

	&:first-child {
		margin-top: 0;
	}
}

.gallery--on {
	visibility: visible;
}

.gallery__item {
	position: relative;
	width: 100%;  // Adjust width for horizontal images
	height: auto;  // Maintain aspect ratio for images

	img {
		width: 100%;  // Full width of the container
		height: auto; // Auto height to maintain aspect ratio
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Carousel

.gallery--carousel {

	.gallery__wrap {

	}
	
	.gallery__item {
		position: relative;
		width: 60%;  // Adjust this value to control the size (use percentages or px)
		height: auto;  // Control the height of the items based on your desired size
		margin: 0 auto;  // Centering the items
		overflow: hidden; // To avoid images overflowing from the container

		img {
			width: 100%;   // Ensure images take full width of the container
			height: auto;  // Maintain aspect ratio
			
			// Target vertical images (portrait)
			&.portrait {
				height: 100;
				max-height: 100px;  // Set a maximum height for portrait images
				object-fit: cover;  // Make sure the image fits within the container without stretching
				}
			}

	}

	.gallery__item__link {
		display: block;
		pointer-events: none;
	}

	.gallery__item__image {
		width: 100%; // Ensures images fill the container width
		height: auto; // Keeps the aspect ratio intact

	}

	.owl-nav {
		display: none;
	}

	.owl-dots {
		margin-top: 20px;
		text-align: center;

		.owl-dot {
			display: inline-block;
			margin: 0 3px;
			width: 12px;
			height: 12px;
			border: 0;
			border-radius: 100%;
			background: $text-light-color;
			@include transition(all 0.2s ease-in-out);
			cursor: pointer;
			outline: none;

			&.active {
				background: $accent-color;
			}
		}
	}
}



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Grid

.gallery--grid {

	.gallery__wrap {
		margin-left: -$grid-spacing/2;
		margin-right: -$grid-spacing/2;
	}
	
	.gallery__item {
		float: left;
		width: 50%;
		padding: $grid-spacing/2;
	}

	.gallery__item__link {
		display: block;
		cursor: zoom-in;
	}

	&[data-columns="3"] {

		.gallery__item {
			width: 33.33%;
		}
	}

	&[data-columns="4"] {

		.gallery__item {
			width: 33.33%;
		}

		@include mq(tabletp) {

			.gallery__item {
				width: 25%;
			}
		}
	}

	&[data-columns="5"] {

		.gallery__item {
			width: 33.33%;
		}

		@include mq(tabletp) {

			.gallery__item {
				width: 25%;
			}
		}

		@include mq(tabletl) {

			.gallery__item {
				width: 20%;
			}
		}
	}

	&[data-columns="6"] {

		.gallery__item {
			width: 33.33%;
		}

		@include mq(tabletp) {

			.gallery__item {
				width: 25%;
			}
		}

		@include mq(tabletl) {

			.gallery__item {
				width: 20%;
			}
		}

		@include mq(laptop) {

			.gallery__item {
				width: 16.66%;
			}
		}
	}
}



